$main-color: #45A56B;
$main-dark-color: #347D52;

$text-color: #343434;
$text-medium-color: #3D3D3D;
$text-dark-color: #000000;
$text-light-color: #A9A9A9;
$text-input-color: #B2C3A9;
$text-footer-color: #979797;

$background: #FFFFFF;

$qwe: #B6B6B6;

$qwerty: #909DA8;
$qwertyui: #A1A1A1;
